.DS_Store
.htaccess
application/cache/*
/dist/*
node_modules/
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

composer.lock

/uploads/

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*
.vscode

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

/application/config/database.php
/application/config/config.php

package-lock.json

.idea/
dist/
package-lock.json

.credentials.json

invoices/
/recursos/js.zip
